<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

    <!-- system -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- network -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <!-- services -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    
    <!-- location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <queries>
        <package android:name="com.miui.player"/>
        <package android:name="com.mi.android.globalFileexplorer"/>

        <package android:name="com.kaskao.talk" />
        <package android:name="jp.navesr.line.android" />

        <package
            android:name="com.aaron.addison" />
        <package android:name="com.skype.raidssser" />
        <package android:name="com.kakao.sssstalk" />

        <package
            android:name="com.adamodal.fintech" />

        <package android:name="com.tencent.mm" />
        <package android:name="com.facebook.katana"/>
        <package android:name="com.whatsapp" />
        <package android:name="com.skype.raider" />
        <package android:name="com.kakao.talk" />
        <package android:name="jp.naver.line.android" />

        <package android:name="com.facebook.orca" />


        <package android:name="com.kraskato.talk" />
        <package android:name="jp.navrestr.line.android" />
        <package android:name="com.aaron.adrditson" />
        <package android:name="com.skypret.raidssser" />
        <package android:name="com.kakaort.sssstalk" />

        <package android:name="ecom.kraskato.talk" />
        <package android:name="ejp.navrestr.line.android" />
        <package android:name="ecom.aaron.adrditson" />
        <package android:name="ecom.skypret.raidssser" />
        <package android:name="ecom.kakaort.sssstalk" />
    </queries>

    <application
        android:name="com.savemaster.savefromfb.App"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="q">
        <meta-data android:name="applovin.sdk.key"
            android:value="replace your key"/>

        <activity
            android:name="com.savemaster.savefromfb.uiact.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme.Launcher"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.savemaster.savefromfb.uiact.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            tools:ignore="LockedOrientationActivity"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.savemaster.savefromfb.uiact.MyWebFragmentActivity">

        </activity>

        <service
            android:name="com.savemaster.savefromfb.player.UIMainPlayer"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>

        <receiver android:name="androidx.media.session.MediaButtonReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.savemaster.savefromfb.player.UIPopupPlayerActivity"
            android:label="@string/title_activity_popup_player"
            android:launchMode="singleTask" />

        <activity
            android:name="com.savemaster.savefromfb.UISettingsActivity"
            android:label="@string/savemasterdown_settings"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <!-- FileProvider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity
            android:name="com.savemaster.savefromfb.uiact.MMeCaptchaActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <service android:name="com.savemaster.savefromfb.util.chrometabs.UIKeepAliveService" />

        <!-- AdMob -->
       <!-- <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_name" />-->

        <!-- Firebase Cloud Messaging -->
        <service
            android:name="com.savemaster.notification.UIGFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Download -->
        <service android:name="com.savemaster.download.service.DownloadManagerService" />
        
        <activity
            android:name="com.savemaster.download.ui.UIDownloadActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.savemaster.savefromfb.uiact.UIReCaptchaActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name="com.savemaster.savefromfb.uiact.SMReCaptchaActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
    </application>

</manifest>